<div class="container" (click)="closeRightMenu()">
    <div class="col-sm-12 borderBox" (contextmenu)="onRightClick($event,1)" (mouseenter)="mouseEvent($event) ">
        Body
        <div class="container">

            <!--<div class="row">
                <div class="col-sm-6 borderBox" (contextmenu)="onRightClick($event,2)"
                    (mouseenter)="mouseEvent($event)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 borderBox" (contextmenu)="onRightClick($event,1.1)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                            <div class="col-sm-6 borderBox" (contextmenu)="onRightClick($event,1.2)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 borderBox" (contextmenu)="onRightClick($event,2)"
                    (mouseenter)="mouseEvent($event)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 borderBox" (contextmenu)="onRightClick($event,2.1)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                            <div class="col-sm-3 borderBox" (contextmenu)="onRightClick($event,2.2)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                            <div class="col-sm-3 borderBox" (contextmenu)="onRightClick($event,2.3)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                            <div class="col-sm-3 borderBox" (contextmenu)="onRightClick($event,2.4)"
                                (mouseenter)="mouseEvent($event)">Columns
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        </div>
    </div>


    <div class="modal fade" id="createrPagePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{headerPopup}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-container *ngFor="let eachRadio of selectedWidget['radio']">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{eachRadio['lable']}}
                            </label>
                        </div>
                    </ng-container>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <div class="dropdown" *ngIf="showRightMenu">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="display:block; position:fixed;"
            [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y">
            <a class="dropdown-item" href="javascript:void(0)" *ngFor="let eachMenu of dropdown" data-toggle="modal"
                (click)="createWidget(eachMenu['value'])" data-target="#createrPagePopup">{{eachMenu['text']}}</a>
        </div>
    </div>