.row {
    --bs-gutter-x: 0 !important;
}

.container {
    padding: 0px !important;
    width: 100% !important;
}

.fullHeight {
    height: 100vh;
    overflow-y: auto;
}

.body {
    background-size: 5px 5px;
    /* background-image:
        linear-gradient(to right, #ddd 1px, transparent 1px),
        linear-gradient(to bottom, #ddd 1px, transparent 1px);
        */
}


.bodyContainer {
    height: 100vh;
    overflow-x: hidden;
}

h2 {
    border: 2px solid #fff;
}