table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    
}

table th,
table td {
    padding: 15px;
}


table tr:hover {
    background: #eee;
    cursor: pointer;
}
table th {
    background: #eee;
    width: 1%;
    white-space: nowrap;
    vertical-align: text-top
}
.footerButton{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.footerButton span{
    margin: 4px;
}

.footerButton span:first-child{
    margin-left: 0px;
}
.footerButton span:last-child{
    margin-right: 0px;
}