<table>
    <tbody>
        <tr *ngFor="let eachHeader of headers">
            <th>{{formDataImage[eachHeader]['lable']}}</th>
            <td>
                <ng-container [ngSwitch]="formDataImage[eachHeader]['type']">

                    <ng-container *ngSwitchDefault>
                        <!--Default type -->
                        <div style="color:#F00">Input Type : {{formDataImage[eachHeader]['type']}} not specified</div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'text'">
                        <!--Text-->
                        <input type="text" placeholder="{{formDataImage[eachHeader]['placeHolder']}}"
                            (focusout)="validateEachField(eachHeader)" (keyup)="validateEachField(eachHeader)"
                            class="form-control {{formDataImage[eachHeader]['valid']['class']}}"
                            [(ngModel)]="formValue[eachHeader]" />
                    </ng-container>

                    <ng-container *ngSwitchCase="'number'">
                        <!--Number-->
                        <input type="number" placeholder="{{formDataImage[eachHeader]['placeHolder']}}"
                            (focusout)="validateEachField(eachHeader)" (keyup)="validateEachField(eachHeader)"
                            class="form-control {{formDataImage[eachHeader]['valid']['class']}}"
                            [(ngModel)]="formValue[eachHeader]" />
                    </ng-container>
                    <ng-container *ngSwitchCase="'show'">
                        <!--Show-->
                        {{formValue[eachHeader]}}
                    </ng-container>

                    <div class="invalid-feedback">{{formDataImage[eachHeader]['valid']['message']}}</div>

                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
<div class="footerButton">
    <ng-container *ngFor="let eachButton of jsonData['operationOnPopup']">
        {{eachButton | json}}
        <button type="button" class="btn {{eachButton['class']}}" data-dismiss="modal">
            <ng-container *ngFor="let eachButtonText of eachButton['buttonText']">
                <ng-container *ngIf="eachButtonText['type'] == 'text'">
                    <span>{{eachButtonText['value']}}</span>
                </ng-container>
                <ng-container *ngIf="eachButtonText['type'] == 'icon'">
                    <span><i class="{{eachButtonText['value']}}"></i></span>
                </ng-container>
            </ng-container>
        </button>
    </ng-container>
</div>