<S7Navbar [jsonData]="pageStructure['menuData']" (formChild)="callParent($event)" *ngIf="(pageStructure['menuData'] | json) != '{}'"></S7Navbar>
<div class="container containerPlacing" *ngIf="(pageStructure['pageData'] | json) != '{}'">
    <S7Layout [jsonData]="pageStructure['pageData']['content']" (formChild)="callParent($event)"></S7Layout>
</div>


<S7Modal [jsonData]="popupStructure['1']" (formChild)="callParent($event)" [targetFrom]="'modal1'"></S7Modal>
<S7Modal [jsonData]="popupStructure['2']" (formChild)="callParent($event)" [targetFrom]="'modal2'"></S7Modal>
<S7Footer></S7Footer>