<div class="row">




    <ng-container *ngFor="let eachBlock of jsonData; let i=index">
        <div class="col-sm-{{eachBlock['column']}}">

            <ng-container *ngFor="let eachBody of eachBlock['body']; let j=index">

                <div [ngSwitch]="eachBody['tag']">



                    <div *ngSwitchCase="'accordion'">
                        <div class="accordion" id="accordionExample{{eachBody['id']}}">
                            <ng-container *ngFor="let eachRow of eachBody['content']; let k=index">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#accordion' + eachBody['id']+k" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            {{eachRow['title']}}
                                        </button>
                                    </h2>
                                    <div id="accordion{{eachBody['id']}}{{k}}" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne"
                                        [attr.data-bs-parent]="'#accordionExample' + eachBody['id']">
                                        <div class="accordion-body">
                                            <S7Layout (formChild)="callParent($event)"
                                                [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content',k,'content'])}">
                                            </S7Layout>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>


                    <div *ngSwitchCase="'button-popup'">
                        <!--Modal Box call button -->
                        <button type="button" class="btn btn-primary" [attr.data-toggle]="'modal'"
                            [attr.data-target]="'#modal'" [style.float]="eachBody['align'] ? 'right':''"
                            (click)="openModal(createIndex([i,'body',j]))">
                            {{eachBody['buttonText']}}
                        </button>
                    </div>

                    <div *ngSwitchCase="'button-form'">
                        <!--Modal Box call button -->
                        <button type="button" class="btn btn-primary" [attr.data-toggle]="'modal'"
                            [attr.data-target]="'#modal'" [style.float]="eachBody['align'] ? 'right':''"
                            (click)="openFormModal(createIndex([i,'body',j]))">
                            {{eachBody['buttonText']}}
                        </button>
                    </div>



                    <div *ngSwitchCase="'form'">
                        <S7Form [record]="{}" [jsonData]="eachBody" (formChild)="callParent($event)" [action]="action">
                        </S7Form>
                    </div>




                    <div *ngSwitchCase="'card'">
                        <!--H3-->
                        <S7Layout (formChild)="callParent($event)"
                            [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content'])}">
                        </S7Layout>
                    </div>

                    <div *ngSwitchCase="'slider'">
                        <div id="sliderID{{eachBody['id']}}" class="carousel slide" data-bs-ride="carousel">
                            {{eachBody['id']}}
                            <!--Lower section button -->
                            <div class="carousel-indicators"
                                *ngIf="eachBody['jumpToSlideButton']!=undefined && eachBody['jumpToSlideButton']=='active'">
                                <ng-container *ngFor="let eachSlider of eachBody['content']; let k = index">
                                    <button type="button"  [attr.data-bs-target]="'#sliderID' + eachBody['id']"
                                        [attr.data-bs-slide-to]="k" [ngClass]="k==0 ? 'active' : ''"
                                        aria-current="true"></button>
                                </ng-container>
                            </div>

                            <!--images and Body-->
                            <div class="carousel-inner">
                                <ng-container *ngFor="let eachSlider of eachBody['content']; let k = index">
                                    <div class="carousel-item" [ngClass]="k==0 ? 'active' : ''">
                                        <img src="{{eachSlider['image']}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <S7Layout
                                                [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content',k,'content'])}"
                                                (formChild)="callParent($event)">
                                            </S7Layout>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <!-- button right and left -->
                            <ng-container
                                *ngIf="eachBody['nextPrevButton']!=undefined && eachBody['nextPrevButton']=='active'">
                                <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#sliderID' + eachBody['id']" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#sliderID' + eachBody['id']" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </ng-container>
                        </div>
                    </div>


                    <div *ngSwitchCase="'tab-menu'">
                        <!--Tabmenu-->
                        <ul class="nav nav-tabs nav-fill" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="javascript:void(0)">Link</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="javascript:void(0)">L2</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="javascript:void(0)">L3</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel"
                                aria-labelledby="ex2-tab-1">
                                xxxxxxxxxxxxxxxxxxx
                            </div>
                            <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                                ssssssssss
                            </div>
                            <div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">
                                qqqqqqqqqqqqqqq
                            </div>
                        </div>
                    </div>


                    <div *ngSwitchCase="'h3'">
                        <!--H3-->
                        <h3>{{eachBody['content']}}</h3>
                    </div>


                    <div *ngSwitchCase="'p'">
                        <!--P-->
                        <p>{{eachBody['content']}}</p>
                    </div>


                    <div *ngSwitchCase="'h5'">
                        <!--H5-->
                        <h5>{{eachBody['content']}}</h5>
                    </div>

                    <div *ngSwitchCase="'space'">
                        <!--Space-->
                        <div class="space"></div>
                    </div>


                    <div *ngSwitchCase="'image-card'">
                        <!--Image Card-->

                        <div class="card" style="margin-bottom: 20px;">
                            <img src="{{jsonData[i]['body'][j]['image']}}" class="card-img-top">
                            <div class="card-body">
                                <S7Layout (formChild)="callParent($event)"
                                    [indexJSON]="{'json':indexJSON['json'], 'index': createIndex([i,'body',j,'content'])}">
                                </S7Layout>
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchDefault>
                        <!--Default tag -->
                        <div style="background-color:#F00">------------Default tag {{eachBody['tag']}}------------</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>