<div class="row" id="{{createDynamicCID('row', [])}}" [attr.S7evenID]="createDynamicCID('row', [])"
    [ngClass]="{'developmentClass': developmentMode}">




    <ng-container *ngFor="let eachBlock of jsonData; let i=index">
        <div class="col-sm-{{eachBlock['column']}}">

            <ng-container *ngFor="let eachBody of eachBlock['body']; let j=index">

                <div [ngSwitch]="eachBody['tag']">



                    <div *ngSwitchCase="'p'" id="{{createDynamicCID('p', [i, 'body'])}}"
                        [attr.S7evenID]="createDynamicCID('p', [i, 'body'])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--P-->
                        <p>{{eachBody['content']}}</p>
                    </div>

                    <div *ngSwitchCase="'h5'" id="{{createDynamicCID('h5', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('h5', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--H5-->
                        <h5>{{eachBody['content']}}</h5>
                    </div>



                    <div *ngSwitchCase="'grid'" id="{{createDynamicCID('grid', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('grid', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Grid-->
                        <S7Grid [jsonData]="eachBody" (formChild)="callParent($event)"></S7Grid>
                    </div>



                    <div *ngSwitchCase="'image-card'" id="{{createDynamicCID('imagecard', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('imagecard', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Image Card-->

                        <div class="card" style="margin-bottom: 20px;">
                            <img src="{{jsonData[i]['body'][j]['image']}}" class="card-img-top">
                            <div class="card-body">
                                <S7Layout (formChild)="callParent($event)"
                                    [indexJSON]="{'json':indexJSON['json'], 'index': createIndex([i,'body',j,'content'])}">
                                </S7Layout>
                            </div>
                        </div>
                    </div>


                    <div *ngSwitchCase="'accordion'" id="{{createDynamicCID('accordion', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('accordion', [i, 'body', j])" class="accordion"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <ng-container *ngFor="let eachRow of eachBody['content']; let k=index">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#' + createDynamicCID('accordion',[i, j, k])"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        {{eachRow['title']}}
                                    </button>
                                </h2>
                                <div id="{{createDynamicCID('accordion', [i, j, k])}}"
                                    class="accordion-collapse collapse"
                                    [attr.data-bs-parent]="'#' + createDynamicCID('accordion', [i, j])">
                                    <div class="accordion-body">
                                        <S7Layout (formChild)="callParent($event)"
                                            [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content',k,'content'])}">
                                        </S7Layout>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div *ngSwitchCase="'breadcumb'" class="breadcumbBG"
                        id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Bread Cumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <ng-container *ngFor="let eachLink of eachBody['allLinks']">
                                    <li class="breadcrumb-item" *ngIf="eachLink['tag'] =='redirection'">
                                        <a href="javascript:void(0)" (click)="callParent(eachLink)">
                                            {{eachLink["text"]}}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page"
                                        *ngIf="eachLink['tag'] =='text'">
                                        {{eachLink["text"]}}
                                    </li>
                                </ng-container>
                            </ol>
                        </nav>
                    </div>


                    <div *ngSwitchCase="'card'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--H3-->
                        <S7Layout (formChild)="callParent($event)"
                            [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content'])}">
                        </S7Layout>
                    </div>




                    <div *ngSwitchCase="'h3'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--H3-->
                        <h3>{{eachBody['content']}}</h3>
                    </div>


                    <div *ngSwitchCase="'button-popup'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Modal Box call button -->
                        <button type="button" class="btn btn-primary" [attr.data-toggle]="'modal'"
                            [attr.data-target]="'#modal'" [style.float]="eachBody['align'] ? 'right':''"
                            (click)="openModal(createIndex([i,'body',j]))">
                            {{eachBody['buttonText']}}
                        </button>
                    </div>

                    <div *ngSwitchCase="'button-form'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Modal Box call button -->
                        <button type="button" class="btn btn-primary" [attr.data-toggle]="'modal'"
                            [attr.data-target]="'#modal'" [style.float]="eachBody['align'] ? 'right':''"
                            (click)="openFormModal(createIndex([i,'body',j]))">
                            {{eachBody['buttonText']}}
                        </button>
                    </div>



                    <div *ngSwitchCase="'form'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <S7Form [record]="{}" [jsonData]="eachBody" (formChild)="callParent($event)" [action]="action">
                        </S7Form>
                    </div>


                    <div *ngSwitchCase="'slider'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <div id="sliderID{{eachBody['id']}}" class="carousel slide" data-bs-ride="carousel">
                            <!--Lower section button -->
                            <div class="carousel-indicators"
                                *ngIf="eachBody['jumpToSlideButton']!=undefined && eachBody['jumpToSlideButton']=='active'">
                                <ng-container *ngFor="let eachSlider of eachBody['content']; let k = index">
                                    <button type="button" [attr.data-bs-target]="'#sliderID' + eachBody['id']"
                                        [attr.data-bs-slide-to]="k" [ngClass]="k==0 ? 'active' : ''"
                                        aria-current="true"></button>
                                </ng-container>
                            </div>

                            <!--images and Body-->
                            <div class="carousel-inner">
                                <ng-container *ngFor="let eachSlider of eachBody['content']; let k = index">
                                    <div class="carousel-item" [ngClass]="k==0 ? 'active' : ''">
                                        <img src="{{eachSlider['image']}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <S7Layout
                                                [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content',k,'content'])}"
                                                (formChild)="callParent($event)">
                                            </S7Layout>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <!-- button right and left -->
                            <ng-container
                                *ngIf="eachBody['nextPrevButton']!=undefined && eachBody['nextPrevButton']=='active'">
                                <button class="carousel-control-prev" type="button"
                                    [attr.data-bs-target]="'#sliderID' + eachBody['id']" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    [attr.data-bs-target]="'#sliderID' + eachBody['id']" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </ng-container>
                        </div>
                    </div>

                    <div *ngSwitchCase="'pagination'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Pagination-->
                        <nav>
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">1</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                    <div *ngSwitchCase="'tab-menu'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Tabmenu-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation"
                                *ngFor="let eachRow of eachBody['content']; let k=index">
                                <button class="nav-link" [ngClass]="{'active': k === 0}" id="home-tab"
                                    data-bs-toggle="tab" [attr.data-bs-target]="'#tabMenu' + eachBody['id']+k"
                                    type="button" role="tab" aria-controls="home"
                                    aria-selected="true">{{eachRow['title']}}</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show" [ngClass]="{'active': k === 0}"
                                id="tabMenu{{eachBody['id']}}{{k}}" role="tabpanel" aria-labelledby="home-tab"
                                *ngFor="let eachRow of eachBody['content']; let k=index">
                                <S7Layout (formChild)="callParent($event)"
                                    [indexJSON]="{'json': indexJSON['json'], 'index': createIndex([i,'body',j,'content',k,'content'])}">
                                </S7Layout>
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'space'" id="{{createDynamicCID('breadcumb', [i, 'body', j])}}"
                        [attr.S7evenID]="createDynamicCID('breadcumb', [i, 'body', j])"
                        [ngClass]="{'developmentClass': developmentMode}">
                        <!--Space-->
                        <div class="space"></div>
                    </div>



                    <div *ngSwitchDefault>
                        <!--Default tag -->
                        <div style="background-color:#F00">------------Default tag {{eachBody | json}}------------</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>