.space {
    width: 100%;
    float: left;
    height: 20px;
}

p {
    text-align: justify;
}

.modalCloseButton{
    width: 30px;
    float: right;
    right: -33px;
    position: absolute;
}
.accordion{
    margin-bottom: 10px;
}
.tab-content{
    border:1px solid #DEE2E6;
    border-top: 0px;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    text-align: justify;
}

