<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf="indexJSON!=undefined">
        <div class="modal-content">
            <div class="modal-header" *ngIf="jsonData['headerText']!=undefined && jsonData['headerText']!=''">
                <h5 class="modal-title" id="exampleModalLabel">{{jsonData['headerText']}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <button type="button" class="close modalCloseButton" data-dismiss="modal" aria-label="Close" *ngIf="jsonData['headerText']==undefined || jsonData['headerText']==''">
                <span aria-hidden="true">&times;</span>
            </button>


            <div class="modal-body">
                <S7Layout (formChild)="callParent($event)"
                    [indexJSON]="{'json': indexJSON['json'], 'index': createIndex(['content'])}"></S7Layout>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>