<ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="eachMenu['menu']!=undefined">
    <li class="nav-item dropdown" (mouseenter)="findWidth($event)">
        <a class="dropdown-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="color: #000;">
            {{eachMenu['menuText']}}
            <i class="fa fa-chevron-right" *ngIf="place=='right'"></i>
            <i class="fa fa-chevron-left" *ngIf="place=='left'"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"
            [ngStyle]="{'margin-left': containerWidth+'px', 'margin-top': '-'+containerHeight+'px'}">
            <ng-container *ngFor="let eachMenu of eachMenu['menu']">
                <a class="dropdown-item" href="javascript:void(0)"
                    *ngIf="eachMenu['menu']==undefined && eachMenu['tag']=='button-popup'"
                    (click)="callParent(eachMenu)" [attr.data-toggle]="'modal'"
                    [attr.data-target]="'#modal'+eachMenu['id']">{{eachMenu['menuText']}}</a>
                <a class="dropdown-item" href="javascript:void(0)"
                    *ngIf="eachMenu['menu']==undefined && eachMenu['tag']!='button-popup'"
                    (click)="callParent(eachMenu)">{{eachMenu['menuText']}}</a>
                <S7DropDown *ngIf="eachMenu['menu']!=undefined" [eachMenu]="eachMenu" (formChild)="callParent($event)"
                    [place]="place"></S7DropDown>
            </ng-container>
        </div>
    </li>
</ul>